.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  box-shadow: 0 1.5rem 2.5rem rgba(5, 29, 61, 0.05);

  .card-image {
    height: 100%;
  }

  .card-copy {
    padding: vw-clamp(24, 24);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .published {
      display: block;
      text-transform: uppercase;
    }
  }
}
