@use "../base/mixins";

.footer {
  position: relative;
  width: 100%;
  height: mixins.vw-max(160);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: mixins.vw-clamp(24, 24);

  padding: mixins.vw-clamp(24, 32);

  .navigation {
    &.menu {
      justify-content: center;
      .dropdown {
        bottom: 100%;

        & > div:first-child {
          order: 2;
        }
      }
    }
  }
}
