.footer {
  position: relative;
  height: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;

  padding: 2rem 1.5rem;

  .menu {
    @include breakpoint("sm") {
      display: none;
    }
  }

  .dropdown {
    bottom: 100%;

    & > div:first-child {
      order: 2;
    }
  }
}
