@use "../base/breakpoints";
@use "../base/mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: mixins.vw-min(32);

  padding: mixins.vw-clamp(24, 35) mixins.vw-max(24);
  background-color: var(--color-white);

  z-index: 100;

  @include breakpoints.breakpoint("md") {
    justify-content: center;
  }
}

.logo {
  width: auto;
  height: mixins.vw-clamp(20, 20);
  display: block;

  img {
    width: auto;
    height: 100%;
    display: block;
  }
}
