.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2rem;

  padding: calculateRem(35px) calculateRem(25px);
  background-color: var(--color-white);

  z-index: 100;

  @include breakpoint("md") {
    justify-content: center;

    padding: 1.5rem;
  }

  .menu-toggle {
    position: absolute;
    left: 1.5rem;

    display: none;

    padding: 0.25rem 0;

    .sr-only {
      display: none;
    }

    .hamburger-icon {
      width: 1.5rem;
      height: 1rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .hamburger-icon__line {
        position: relative;
        width: 100%;
        height: 2px;

        display: block;

        background-color: var(--color-teal-normal);
        border-radius: 2px;
        transition: all 0.3s ease;

        &:nth-child(1) {
          transform: translateY(0);
        }

        &:nth-child(2) {
          transform: translateY(0);
        }

        &:nth-child(3) {
          transform: translateY(0);
        }
      }

      &.is-active {
        .hamburger-icon__line {
          &:nth-child(1) {
            transform: translateY(350%) rotate(135deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: translateY(-350%) rotate(45deg);
          }
        }
      }
    }

    @include breakpoint("md") {
      display: block;
    }
  }
}

.logo {
  width: auto;
  height: 1.25rem;
  display: block;

  img {
    width: auto;
    height: 100%;
    display: block;
  }
}
