.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2rem;

  padding: clamp(1.5rem, 2.43vw, 2.1875rem) 1.5rem;
  background-color: var(--color-white);

  z-index: 100;

  @include breakpoint("md") {
    justify-content: center;
  }
}

.logo {
  width: auto;
  height: 1.25rem;
  display: block;

  img {
    width: auto;
    height: 100%;
    display: block;
  }
}
