.menu-toggle {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;

  display: none;

  padding: 0.25rem 0;

  z-index: 200;

  .sr-only {
    display: none;
  }

  .hamburger-icon {
    width: 1.5rem;
    height: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .hamburger-icon__line {
      position: relative;
      width: 100%;
      height: 0.125rem;

      display: block;

      background-color: var(--color-teal-normal);
      border-radius: 2px;
      transition: all 0.3s ease;

      &:nth-child(1) {
        transform: translateY(0);
      }

      &:nth-child(2) {
        transform: translateY(0);
      }

      &:nth-child(3) {
        transform: translateY(0);
      }
    }

    &.is-active {
      .hamburger-icon__line {
        background-color: var(--color-white);

        &:nth-child(1) {
          transform: translateY(350%) rotate(135deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-350%) rotate(45deg);
        }
      }
    }
  }

  @include breakpoint("md") {
    display: block;
  }
}
