.navigation {
  & > ul {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;

    margin-top: 0.375rem;

    @include breakpoint("md") {
      flex-direction: column;
      align-items: start;
      column-gap: unset;
      row-gap: 1.5rem;
    }

    & > li {
      .link {
        z-index: 10;
      }

      &.has-dropdown {
        position: relative;

        display: flex;
        flex-direction: column;

        &:hover {
          .dropdown {
            opacity: 1;
            user-select: unset;
            pointer-events: unset;
          }
        }

        .dropdown {
          position: absolute;

          display: flex;
          flex-direction: column;

          opacity: 0;
          user-select: none;
          pointer-events: none;

          transition: opacity 0.3s ease-in-out;

          @include breakpoint("md") {
            position: relative;
            top: unset;
            display: block;

            background-color: unset;
            box-shadow: unset;

            opacity: 1;
            user-select: unset;
            pointer-events: unset;
          }

          & > div:first-child {
            width: 100%;
            height: 2rem;
            background-color: transparent;

            @include breakpoint("md") {
              display: none;
            }
          }

          & > nav {
            position: relative;

            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
            gap: 0.5rem;

            padding: 1rem;
            background: var(--color-white);
            border-radius: 0.5rem;
            box-shadow: 0 1rem 1.25rem rgba(5, 29, 61, 0.06);
            white-space: nowrap;

            @include breakpoint("md") {
              margin-top: 1rem;
              margin-left: 1rem;
              padding: unset;
              background: transparent;
              box-shadow: unset;
            }
          }
        }
      }
    }
  }

  &.menu {
    display: block;

    @include breakpoint("md") {
      display: none;
    }
  }

  &.mobile-menu {
    display: none;
    pointer-events: none;
    user-select: none;

    @include breakpoint("md") {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 100vh;

      padding: 4.25rem 2.5rem;

      display: block;

      color: var(--color-white);
      background-color: var(--color-blue-primary);

      pointer-events: unset;
      user-select: unset;
    }
  }
}
