.page-header {
  margin: 6.875rem 7.5rem 0;
}

.page-header--centered {
  text-align: center;

  .page-header_copy {
    margin: 0 auto;
  }
}

.page-header_copy {
  max-width: 64rem;

  p {
    max-width: 60rem;
    margin-top: 5rem;
  }

  .btn {
    margin-top: 2.5rem;
  }
}
