.page-header {
  margin: 110px 120px 0 120px;
}

.page-header--centered {
  text-align: center;

  .page-header_copy {
    margin: 0 auto;
  }
}

.page-header_copy {
  max-width: 1024px;

  p {
    max-width: 960px;
    margin-top: 80px;
  }

  .btn {
    margin-top: 40px;
  }
}