.project-content {
  margin: 300px 0 200px 0;
}

.project-content--gradient {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 200px;
    display: block;
    background: var(--gradient-grey);
    z-index: -1;
  }
}

.project-content--bottom-border {
  border-bottom: 1px solid var(--color-grey-normal);
}

.project-content_copy {
  max-width: 610px;
  margin: 0 auto;

  .h4 {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    opacity: 0.85;

    + p {
      margin-top: 1rem;
    }
  }

  .btn {
    margin-top: 24px;
  }

  + .project-content_image {
    margin-top: 80px;
  }
}

.project-content_image {
  max-width: 950px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

.project-content_image--full-width {
  max-width: none;
}