.rich-text {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-4);

  white-space: pre-line;

  @include breakpoint("sm") {
    row-gap: var(--spacing-3);
  }
}
