.testimonial {
  margin: 160px 320px;
  --highlight-color: var(--color-blue-primary);
  --highlight-bg: var(--color-teal-normal);
}

.testimonial-quote {

}

.testimonial-author {
  margin-top: 24px;
  display: flex;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    display: block;
    border-radius: 100%;
    object-fit: cover;
  }
}

.testimonial-author_name {
  p + p {
    margin-top: 5px;
  }
}