.block-case-study {
  display: flex;
  align-items: center;
  column-gap: 5.5rem;

  &__header {
    position: relative;
    min-width: 21.75rem;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .btn {
      align-self: flex-start;
      margin-top: 1rem;
    }
  }

  &.align-left {
    padding: 3.5rem 6.5rem 3.5rem 0;

    .block-case-study__image {
      order: -1;
    }

    &-full-height {
      padding: 0 6.5rem 0 3rem;

      .block-case-study__image {
        order: -1;
      }
    }
  }

  &.align-right {
    padding: 3.5rem 0 3.5rem 6.5rem;

    &-full-height {
      padding: 0 3rem 0 6.5rem;
    }
  }

  &.text-light {
    color: var(--color-blue-primary);
  }

  &.text-light {
    color: var(--color-white);
  }
}
