.block-case-study {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;
  column-gap: 5.5rem;
  gap: clamp(2rem, 6.11vw, 5.5rem);

  @include breakpoint("md") {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    gap: clamp(2rem, 6.11vw, 5.5rem);

    .block-case-study__image {
      order: -1;
    }
  }

  &__header {
    position: relative;
    min-width: 21.75rem;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @include breakpoint("sm") {
      min-width: unset;
      align-items: center;
      text-align: center;
    }

    .btn {
      align-self: flex-start;
      margin-top: 1rem;

      @include breakpoint("sm") {
        align-self: unset;
      }
    }
  }

  &__image {
    max-height: 38.5rem;
    // max-height: 42.85vw;

    display: flex;
    justify-content: flex-end;
  }

  &.align-left {
    padding: clamp(1.5rem, 3.88vw, 3.5rem) clamp(1.5rem, 7.29vw, 6.5rem)
      clamp(2.5rem, 3.88vw, 3.5rem) 0;

    @include breakpoint("md") {
      padding: clamp(1.5rem, 3.88vw, 3.5rem);
    }

    .block-case-study__image {
      order: -1;
      justify-content: flex-start;
    }

    &-full-height {
      padding: 0 clamp(1.5rem, 7.29vw, 6.5rem) 0 clamp(1.5rem, 3.33vw, 3rem);

      @include breakpoint("md") {
        padding: clamp(1.5rem, 3.88vw, 3.5rem);
      }

      .block-case-study__image {
        order: -1;
        justify-content: flex-start;
      }
    }
  }

  &.align-right {
    padding: clamp(1.5rem, 3.88vw, 3.5rem) 0 clamp(1.5rem, 3.88vw, 3.5rem)
      clamp(1.5rem, 7.29vw, 6.5rem);

    @include breakpoint("md") {
      padding: clamp(1.5rem, 3.88vw, 3.5rem);
    }

    &-full-height {
      padding: 0 clamp(1.5rem, 3.33vw, 3rem) 0 clamp(1.5rem, 7.29vw, 6.5rem);

      @include breakpoint("md") {
        padding: clamp(1.5rem, 3.88vw, 3.5rem);
      }
    }
  }
}
