.block-contact-callout {
  position: relative;
  width: 100%;

  padding: clamp(5rem, 11.11vw, 10rem) 0;

  &__wrapper {
    text-align: center;

    .h6 {
      color: var(--color-grey-normal);
    }

    .btn {
      margin-top: 1.5rem;
      margin-top: clamp(1rem, 1.6666666666666667vw, 1.5rem);
    }
  }
}
