.block-contact-form {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: vw-clamp(64, 136);

  @include breakpoint("sm") {
    flex-direction: column;
  }

  &__form {
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: vw-clamp(24, 24);

    input,
    textarea,
    select {
      position: relative;
      display: block;
      padding: vw-clamp(20, 20) vw-clamp(12, 12);
      border: none;
      border-bottom: 1px solid var(--color-grey-normal);
    }

    textarea {
      min-height: 45%;
    }

    .btn {
      align-self: flex-end;
    }

    input,
    textarea,
    select,
    .btn {
      transition: opacity 0.3s ease-in-out;

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
        user-select: none;
      }
    }
  }

  &__success,
  &__error {
    text-align: center;
  }
}
