.block-content {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  &.has-background {
    padding: 8rem 4rem;

    @include breakpoint("sm") {
      padding: 4rem 2.5rem;
    }
  }

  &__wrapper {
    max-width: 50rem;

    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-3);
  }
}

.block-multi-section {
  .block-content.has-background {
    padding: 0;
    background-color: transparent;
  }
}
