.block-content {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
    max-width: 50rem;

    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-3);
    }

    &.has-background {
        padding: 8rem 0;
        background-color: #F9F9F9;
    }
}

.block-multi-section {
    .block-content.has-background {
        padding: 0;
        background-color: transparent;
    }
}