.block-content {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  &.has-background {
    padding: 8rem 4rem;
    padding: clamp(4rem, 8.88vw, 8rem) clamp(2.5rem, 4.44vw, 4rem);
  }

  &__wrapper {
    // max-width: clamp(13rem, 55.55vw, 50rem);
    max-width: 50rem;

    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-3);
  }
}

.block-multi-section {
  .block-content.has-background {
    padding: 0;
    background-color: transparent;
  }
}
