.block-header {
  position: relative;
  width: 100%;
  // max-width: clamp(16.66rem, 71.11vw, 64rem);
  max-width: 64rem;

  margin-right: auto;

  @include breakpoint("md") {
    max-width: 100%;
  }
}
