@use "../base/breakpoints";
@use "../base/mixins";

.block-header {
  position: relative;
  width: 100%;
  max-width: mixins.vw-min(1024);

  margin-right: auto;

  @include breakpoints.breakpoint("md") {
    max-width: 100%;
  }
}
