.block-image-two-columns {
  position: relative;
  width: 100%;

  display: flex;
  column-gap: var(--spacing-4);

  @include breakpoint("sm") {
    flex-direction: column;
    row-gap: var(--spacing-3);
  }

  &__figure {
    &.has-background {
      padding: 4.5rem 3.75rem;

      @include breakpoint("sm") {
        padding: 2.5rem 2rem;
      }
    }
  }
}
