.block-image-two-columns {
  position: relative;
  width: 100%;

  display: flex;
  column-gap: var(--spacing-4);

  @include breakpoint("sm") {
    flex-direction: column;
    row-gap: var(--spacing-3);
  }

  &__figure {
    &.has-background {
      padding: clamp(2.5rem, 5vw, 4.5rem) clamp(2rem, 4.16vw, 3.75rem);
    }
  }
}
