.block-image-three-columns {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    column-gap: var(--spacing-4);

    @include breakpoint('sm'){
        flex-direction: column;
        row-gap: var(--spacing-3);
    }
} 