@use "../base/mixins";
@use "../base/typography" as *;

.block-multi-section {
  position: relative;
  width: 100%;

  &.has-background {
    padding: mixins.vw-clamp(40, 128) mixins.vw-clamp(24, 80);
    background-color: #eef2fa;
  }

  &__wrapper {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: mixins.vw-clamp(32, 96);

    & > section > * {
      max-width: mixins.vw-clamp(800, 800);
    }

    & > section > .block-image-full-width {
      max-width: 100%;
    }

    .block-ordered-list {
      padding: 0;

      &__card {
        &__item {
          &__index {
            @extend .text-bold;
            color: #79beef;
          }
        }
      }
    }
  }
}
