.block-ordered-list {
  position: relative;
  width: 100%;
  max-width: 72rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: var(--spacing-4);
  column-gap: var(--spacing-4);

  padding: 0 clamp(0rem, 1.8vw, 1.625rem);

  @include breakpoint("sm") {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.5rem;

    padding: 0;
  }

  &__card {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 4.875rem;

    padding: clamp(2rem, 2.77vw, 2.5rem);
    border-radius: 1.5rem;

    @include breakpoint("sm") {
      gap: 1.5rem;
    }

    &__title {
      color: #ffffff;
      background-color: #5dcfc9;

      @include breakpoint("sm") {
        aspect-ratio: 1/1;
      }
    }

    &__item {
      background-color: #f9f9f9;

      @include breakpoint("sm") {
        padding: 2.5rem 2rem;
      }

      &__image {
        position: relative;
        width: 100%;
        max-width: 12.5rem;
        aspect-ratio: 1/1;

        background-color: #c4c4c4;

        @include breakpoint("sm") {
          max-width: 10rem;
        }
      }

      &__index {
        margin-bottom: clamp(0.7rem, 1.66vw, 1.5rem);
        color: #79beef;
      }

      &__content {
        display: flex;
        flex-direction: column;
        row-gap: 0.75rem;
      }
    }
  }
}
