.block-page-title {
  position: relative;
  width: 100%;
  // max-width: clamp(16.66rem, 71.11vw, 64rem);
  max-width: 64rem;

  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-4);

  margin-right: auto;
  margin-bottom: -1.25rem;

  @include breakpoint("sm") {
    margin-top: 2.5rem;
  }
}
