@use "../base/breakpoints";
@use "../base/mixins";

.block-project-info {
  position: relative;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: mixins.vw-clamp(16, 20);

  padding: mixins.vw-clamp(48, 80) mixins.vw-clamp(40, 64);

  background-color: var(--color-blue-primary);
  color: var(--color-white);

  @include breakpoints.breakpoint("sm") {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-4);
  }
}
