.block-project-info {
  position: relative;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding: clamp(3rem, 5.555vw, 5rem) clamp(2.5rem, 4.44vw, 4rem);

  background-color: var(--color-blue-primary);
  color: var(--color-white);

  @include breakpoint("sm") {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-4);
  }
}
