.block-testimonial {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  &.has-background {
    padding: clamp(4.5rem, 11.66vw, 10.5rem) clamp(2rem, 5.83vw, 5.25rem);
  }

  &__wrapper {
    max-width: 50rem;

    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    &__person {
      display: flex;
      align-items: center;
      column-gap: 1.25rem;

      &__details {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        row-gap: 0.25rem;

        p {
          color: var(--color-grey-normal);
        }
      }

      &__image {
        height: max-content;
        max-width: 3rem;
        border-radius: 999px;
        overflow: hidden;
      }
    }
  }
}
