.block-text-and-image {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;
  column-gap: 8.5rem;

  &.has-background {
    padding: 8rem 5rem;
    background-color: var(--color-blue-primary);
    color: white;
  }

  @include breakpoint("sm") {
    flex-direction: column;
    row-gap: var(--spacing-4);

    &.has-background {
      padding: 4rem var(--spacing-5);
    }
  }

  & > header {
    max-width: 30rem;

    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-3);
  }

  &__figure {
    &.align-left {
      order: -1;
    }

    @include breakpoint("sm") {
      order: -1;
    }

    &.has-background {
      padding: 3.5rem 2.5rem;

      @include breakpoint("sm") {
        padding: 2rem 1rem;
      }
    }
  }
}
