.block-three-columns-section {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: vw-clamp(32, 64);

  .rich-text {
    text-align: center;

    @include breakpoint("md") {
      text-align: left;
    }
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: vw-clamp(20, 20);
    row-gap: vw-clamp(32, 32);

    @include breakpoint("md") {
      grid-template-columns: repeat(1, 1fr);
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      &__icon {
        max-width: vw-clamp(60, 100);
      }
    }
  }
}
