@use "../base/mixins";

.page-404 {
  text-align: center;

  &__wrapper {
    max-width: mixins.vw-min(960);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: mixins.vw-min(32);

    margin: 0 auto;
  }
}
