.page-blog {
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    row-gap: 2.5rem;

    @include breakpoint("sm") {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
