.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.5rem;
  row-gap: 2.5rem;

  margin: 0 clamp(2rem, 9.16vw, 8.25rem);

  @include breakpoint("sm") {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card--post {
  border-radius: 0;
  .card-image {
    padding: 0;

    img {
      aspect-ratio: 568 / 294;
    }
  }

  .card-copy {
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;

    .h6 {
      width: 100%;
    }

    p {
      max-width: none;
      width: 100%;
      margin-top: 1rem;
    }

    .accent {
      margin-bottom: 0;
      align-self: flex-end;
    }
  }
}
