.page-development {
  .page-header {
    margin-bottom: 80px;

    .page-header_copy {
      max-width: none;
    }
  }

  .centered-content {
    margin-bottom: 240px;
  }

  .ping-pong {
    justify-content: center;
  }

  .ping-pong_image {
    max-width: 640px;
  }
}
