.projects-list {
  li {
    margin: 112px 0;
  }
}

.single-project {
  .ping-pong_copy {
    .h4 {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.project-expertise {
  margin-top: 32px;
  @include fontSize(13px, 15px);

  .accent {
    margin-bottom: 8px;
  }
}
