.page-ux-research {
  .page-header {
    .page-header_copy {
      max-width: 1070px;
    }
  }

  .ping-pong--bleed-left {
    margin-top: 44px;
    margin-bottom: 200px;
  }
}

.ping-pong--why {
  position: relative;
  margin: -100px 0 44px 0;
  padding: 250px 0 102px 120px;
  justify-content: space-between;
  overflow: hidden;
  z-index: -1;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 195px;
    display: block;
    background: var(--gradient-grey);
    z-index: -1;
  }

  .ping-pong_copy {
    width: 556px;
    margin-right: 70px;
  }

  .ping-pong_image {
    position: relative;
    width: auto;
    height: 568px;
    margin: 0 auto;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;

    > img {
      position: relative;
      width: auto;
      height: 100%;
      display: block;
      filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.12));
    }
  }
}

.why-floater {
  position: absolute;
  width: 152px;
  height: 152px;
  display: block;
  border-radius: 24px;
  overflow: hidden;

  img {
    width: 100%;
    hight: 100%;
    display: block;
    object-fit: cover;
  }

  &:nth-child(2) {
    top: -76px;
    right: -95px;
    z-index: -1;
  }

  &:nth-child(3) {
    top: 123px;
    left: -196px;
  }

  &:nth-child(4) {
    top: 229px;
    right: -212px;
  }

  &:nth-child(5) {
    bottom: -31px;
    left: -182px;
  }

  &:nth-child(6) {
    bottom: -102px;
    right: -114px;
  }
}

.user-testing {
  margin: 200px 120px 48px 120px;
}

.user-testing_copy {
  max-width: 1070px;
  margin-bottom: 136px;
}

.user-testing-step {
  padding: 72px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(odd) {
    .user-testing-step_copy {
      margin-left: 80px;
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    .user-testing-step_copy {
      margin-right: 80px;
    }
  }
}

.user-testing-step_image {
  width: 568px;
  height: auto;
  display: block;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.user-testing-step_copy {
  width: 378px;
  flex-shrink: 0;
  flex-grow: 0;

  .h5 {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    opacity: 0.85;
  }

  .btn {
    margin-top: 16px;
  }
}
