@use "404" as errorPage;
@use "blog";
@use "../base/breakpoints";
@use "../base/mixins";

.page-404,
.page-blog {
  row-gap: mixins.vw-clamp(80, 120);

  padding: mixins.vw-clamp(40, 104) mixins.vw-clamp(32, 120)
    mixins.vw-clamp(0, 96);

  @include breakpoints.breakpoint("sm") {
    padding-bottom: 0;
  }
}
