.template-blog {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;

  &__heading {
    position: relative;

    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    margin: 0 clamp(0rem, 13.88vw, 12.5rem);
    background: var(--color-white);

    @include breakpoint("sm") {
      margin: 0;
    }
  }

  &__content {
    max-width: vw-clamp(800, 800);
    margin: 0 auto;

    @include breakpoint("sm") {
      max-width: 100%;
    }
  }
}
