@use "../base/breakpoints";
@use "../base/mixins";

.template-blog {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;

  &__heading {
    position: relative;
    max-width: mixins.vw-clamp(1024, 1024);

    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    margin: auto;
    background: var(--color-white);

    @include breakpoints.breakpoint("sm") {
      margin: 0;
    }
  }

  &__content {
    max-width: mixins.vw-clamp(800, 800);
    margin: 0 auto;

    @include breakpoints.breakpoint("sm") {
      max-width: 100%;
    }

    h4 {
      margin: 1.75rem 0;
    }
  }
}
