.template-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clamp(5rem, 11.66vw, 10.5rem);

  padding: clamp(2.5rem, 7.22vw, 6.5rem) clamp(2rem, 8.33vw, 7.5rem)
    clamp(0rem, 6.66vw, 6rem);

  @include breakpoint("sm") {
    padding-bottom: 0;
  }

  .project-header {
    position: relative;
    width: calc((100% / 3) * 2);

    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-4);

    margin-right: auto;

    .project-description {
      color: var(--color-blue-primary);
      opacity: 0.5;
    }

    @include breakpoint("sm") {
      width: 100%;
    }
  }

  & > section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
