@use "blog";
@use "page";
@use "project";
@use "../base/mixins";
@use "../base/breakpoints";

.template-blog,
.template-page,
.template-project {
  width: 100%;
  row-gap: mixins.vw-clamp(80, 120);

  padding: mixins.vw-clamp(40, 104) mixins.vw-clamp(32, 120)
    mixins.vw-clamp(0, 96);

  @include breakpoints.breakpoint("sm") {
    padding-bottom: 0;
  }
}
