.project-olive {
  .project-content {
    margin-top: 0;
    margin-bottom: 0;
  }

  .project-content--bottom-border {
    margin-top: 160px;
    margin-bottom: 180px;
    padding: 0 40px;
  }

  .project-content--ipads {
    margin-top: 180px;
    margin-bottom: 0;

    .project-content_copy {
      margin-left: 150px;
    }
  }

  .project-ipads {
    position: relative;
    margin: 34px 0 -110px 0;
    z-index: -1;

    img {
      width: 1440px;

      &:first-child {
        margin-top: 325px;
      }
    }
  }

  .project-content_copy,
  .ping-pong_copy {
    max-width: 538px;
  }

  .project-content_image--full-width {
    margin-left: 160px;
    margin-right: 160px;
  }

  .ping-pong--image-left {
    margin: 300px 0;
    justify-content: flex-end;
    overflow: hidden;
    
    .ping-pong_image {
      height: 840px;
      flex-shrink: 0;
      flex-grow: 0;

      img {
        height: 100%;
        width: auto;
      }
    }

    .ping-pong_copy {
      margin: 0 100px 0 16px;
    }
  }

  .ping-pong--image-right {
    justify-content: space-evenly;

    .ping-pong_image {
      width: 559px;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}