.project-squadcast {
  .testimonial {
    margin: -112px 0 0 0;
    padding: 286px 320px 160px 320px;
    background: #EEF2FA;
  }
}

.project-video--squadcast-intro {
  margin-bottom: 0;
  box-shadow: 0px 20px 60px rgba(5, 29, 61, 0.06);
  border-radius: 19.5px;

  .embed-container {
    --video-width: 1600;
    --video-height: 800;
  }
}