.project-thinkific {
  --gradient-grey: linear-gradient(180deg, rgba(254, 254, 254, 0.0001) 0%, rgba(57, 72, 88, 0.05) 98.81%);;

  .ping-pong {
    margin: 0;
    justify-content: flex-end;
    overflow: hidden;
  }
  
  .ping-pong_image {
    height: 840px;
    flex-shrink: 0;
    flex-grow: 0;

    img {
      height: 100%;
      width: auto;
    }
  }

  .ping-pong_copy {
    width: 306px;
    margin: 0 120px;
  }

  .project-content {
    &:last-child {
      margin-bottom: 120px;
    }
  }

  .project-content_image--full-width {
    margin-left: 120px;
    margin-right: 120px;

    img {
      max-width: 1100px;
    }
  }

  .testimonial {
    margin-top: 300px;
    margin-bottom: 300px;
  }
}