@use "../base/breakpoints";

.portable-text-quote {
  position: relative;
  width: 100%;
  height: 100%;

  display: block;
  margin: 4rem 0;
  padding: 3rem 4.5rem;

  background-color: #f6f6f6;

  @include breakpoints.breakpoint("sm") {
    padding: 4.5rem 2rem;
  }
}
