$breakpoints: (
  xl: 1440px,
  lg: 1280px,
  md: 1024px,
  sm: 768px,
  xs: 640px,
) !default;

@mixin breakpoint($breakpoint, $logic: false) {
  @if ($logic) {
    @media #{$logic} and (max-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  } @else {
    @media (max-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  }
}
