.btn {
  position: relative;
  max-width: max-content;

  display: flex;
  padding: 1rem 1.5rem;

  background: var(--btn-bg);
  color: var(--btn-color);
  border-radius: 0.25rem;

  @include fontSize(16px, 12px);
  font-weight: 500;

  &.light {
    background: var(--color-white);
    color: var(--color-blue-primary);
  }

  &.dark {
    background: var(--color-blue-primary);
    color: var(--color-white);
  }

  &.secondary {
    padding: 1rem 1.5rem;
    background: transparent;
    border: 1px solid var(--btn-bg);
    color: var(--btn-bg);
  }

  &.btn-header {
    background: var(--color-blue);
  }

  & > span {
    transform: translateY(1px);
  }
}

.text-link {
  display: inline-block;
  vertical-align: top;
  color: var(--text-link-color);
  font-weight: 500;
}
