:root {
    /* spacing */
    --spacing-1: 0.5rem;
    --spacing-2: 1rem;
    --spacing-3: 1.5rem;
    --spacing-4: 2rem;
    --spacing-5: 2.5rem;
    --spacing-6: 3rem;
}


.main {
    padding: 0 7.5rem;

    display: flex;
    flex-direction: column;
    row-gap: 10.5rem;

    @include breakpoint('sm'){
        padding: 0 2rem;

        row-gap: 5rem;
    }
}