:root {
  /* spacing */
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 2.5rem;
  --spacing-6: 3rem;
}

.main {
  position: relative;

  margin-top: 6.75rem;

  @include breakpoint("sm") {
    margin-top: 4.2rem;
  }
}
