@use "sass:math";

@function pxToRem($value) {
  $remValue: calc($value/ 16) + rem;
  @return $remValue;
}

@function remToPx($value) {
  $pxValue: ($value * 16) + px;
  @return $pxValue;
}

@function pxToVw($value) {
  $vwValue: calc(($value / 1440) * 100) + vw;
  @return $vwValue;
}

@mixin fontSize($size, $lineHeight) {
  font-size: $size; //Fallback in px
  font-size: pxToRem($size);

  @if math.unit($lineHeight) == "%" {
    line-height: $lineHeight;
  } @else {
    line-height: calc($lineHeight / $size);
  }
}

@mixin touch {
  @media (pointer: fine) {
    @content;
  }
}

@mixin no-touch {
  @media (pointer: none) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin no-hover {
  @media (hover: none) {
    @content;
  }
}

@function vw-clamp($min, $max) {
  $vwFrom: 1440;
  $vwTo: 1728;

  $maxVw: pxToVw($max);
  $newMin: pxToRem($min);
  $newMax: pxToRem(calc(($max / $vwFrom) * 100 * ($vwTo / 100)));

  @return clamp($newMin, $maxVw, $newMax);
}

@function vw-min($max) {
  $vwFrom: 1440;
  $vwTo: 1728;

  $maxVw: pxToVw($max);
  $newMax: pxToRem(calc(($max / $vwFrom) * 100 * ($vwTo / 100)));

  @return min($maxVw, $newMax);
}

@function vw-max($max) {
  $vwFrom: 1440;
  $vwTo: 1728;

  $maxVw: pxToVw($max);
  $newMax: pxToRem(calc(($max / $vwFrom) * 100 * ($vwTo / 100)));

  @return max($maxVw, $newMax);
}
