@font-face {
  font-family: "PP Pangram";
  src: url("../assets/fonts/PPPangramSans-Regular.eot");
  src: url("../assets/fonts/PPPangramSans-Regular.woff") format("woff"),
    url("../assets/fonts/PPPangramSans-Regular.ttf") format("truetype");
  font-weight: 400;
  ascent-override: 70%; // FIXME: windows-specific
}

@font-face {
  font-family: "PP Pangram";
  src: url("../assets/fonts/PPPangramSans-Medium.eot");
  src: url("../assets/fonts/PPPangramSans-Medium.woff") format("woff"),
    url("../assets/fonts/PPPangramSans-Medium.ttf") format("truetype");
  font-weight: 500;
  ascent-override: 70%; // FIXME: windows-specific
}

@font-face {
  font-family: "PP Pangram";
  src: url("../assets/fonts/PPPangramSans-Bold.eot");
  src: url("../assets/fonts/PPPangramSans-Bold.woff") format("woff"),
    url("../assets/fonts/PPPangramSans-Bold.ttf") format("truetype");
  font-weight: 700;
  ascent-override: 70%; // FIXME: windows-specific
}

:root {
  --font-primary: "PP Pangram", sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-weight: 400;
}

body {
  font-family: var(--font-primary);
}

// Headings
h1,
.h1 {
  font-size: clamp(2.5rem, 6.94vw, 6.25rem);
  line-height: 110%;
  font-weight: 500;
}

h2,
.h2 {
  font-size: clamp(2.5rem, 5.55vw, 5rem);
  line-height: 110%;
  font-weight: 500;
}

h3,
.h3 {
  font-size: clamp(1.875rem, 3.75vw, 3.375rem);
  line-height: 120%;
  font-weight: 500;
}

h4,
.h4 {
  font-size: clamp(1.625rem, 3.05vw, 2.75rem);
  line-height: 120%;
  font-weight: 500;
}

h5,
.h5 {
  font-size: clamp(1.4375rem, 2.22vw, 2rem);
  line-height: 120%;
  font-weight: 500;
}

h6,
.h6 {
  font-size: clamp(1.0625rem, 1.59vw, 1.4375rem);
  line-height: 150%;
  font-weight: 500;
}

// Paragraph

.text-small {
  font-size: 0.8125rem;
  line-height: 1.15;
  font-weight: 400;
}

.text-normal {
  font-size: clamp(0.9375rem, 1.18vw, 1.0625rem);
  line-height: 1.88;
  font-weight: 400;
}

.text-bold {
  font-size: clamp(0.9375rem, 1.18vw, 1.0625rem);
  line-height: 1.88;
  font-weight: 700;
}

.text-book {
  font-size: 1.125rem;
  line-height: 1.77;
  font-weight: 400;
}

.text-large {
  font-size: 1.4375rem;
  line-height: 150%;
  font-weight: 400;
}

@include breakpoint("sm") {
  // Headings

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    line-height: 120%;
  }

  h4,
  .h4,
  h5,
  .h5 {
    line-height: 130%;
  }

  h6,
  .h6 {
    line-height: 150%;
  }

  // Paragraph
  .text-normal {
    line-height: 180%;
  }
}

//

.font-bold {
  font-weight: 500;
}

.highlight {
  padding: 0.25rem;

  border-radius: 0.25rem;
  color: var(--color-white);
  background-color: #0b122f;
}

.accent {
  color: var(--color-blue-primary);
  font-size: 0.8125rem;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.accent--grey-dark {
  color: var(--color-grey-dark);
}
.accent--grey-normal {
  color: var(--color-grey-normal);
}

a {
  color: inherit;
  text-decoration: none;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}
