@font-face {
  font-family: "PP Pangram";
  src: url("../assets/fonts/PPPangramSans-Regular.eot");
  src: url("../assets/fonts/PPPangramSans-Regular.woff") format("woff"),
    url("../assets/fonts/PPPangramSans-Regular.ttf") format("truetype");
  font-weight: 400;
  ascent-override: 70%; // FIXME: windows-specific
  font-display: swap;
}

@font-face {
  font-family: "PP Pangram";
  src: url("../assets/fonts/PPPangramSans-Medium.eot");
  src: url("../assets/fonts/PPPangramSans-Medium.woff") format("woff"),
    url("../assets/fonts/PPPangramSans-Medium.ttf") format("truetype");
  font-weight: 500;
  ascent-override: 70%; // FIXME: windows-specific
  font-display: swap;
}

@font-face {
  font-family: "PP Pangram";
  src: url("../assets/fonts/PPPangramSans-Bold.eot");
  src: url("../assets/fonts/PPPangramSans-Bold.woff") format("woff"),
    url("../assets/fonts/PPPangramSans-Bold.ttf") format("truetype");
  font-weight: 700;
  ascent-override: 70%; // FIXME: windows-specific
  font-display: swap;
}

:root {
  --font-primary: "PP Pangram", sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-weight: 400;
}

body {
  font-family: var(--font-primary);
}

// Headings
h1,
.h1 {
  font-size: vw-clamp(40, 100);
  line-height: 110%;
  font-weight: 500;
}

h2,
.h2 {
  font-size: vw-clamp(40, 80);
  line-height: 110%;
  font-weight: 500;
}

h3,
.h3 {
  font-size: vw-clamp(30, 54);
  line-height: 120%;
  font-weight: 500;
}

h4,
.h4 {
  font-size: vw-clamp(26, 44);
  line-height: 120%;
  font-weight: 500;
}

h5,
.h5 {
  font-size: vw-clamp(23, 32);
  line-height: 120%;
  font-weight: 500;
}

h6,
.h6 {
  font-size: vw-clamp(17, 23);
  line-height: 150%;
  font-weight: 500;
}

// Paragraph

.text-small {
  font-size: vw-clamp(13, 13);
  // line-height: calc(24 / 13);
  font-weight: 400;
}

.text-normal {
  font-size: vw-clamp(16, 17);
  line-height: 1.88;
  font-weight: 400;
}

.text-bold {
  font-size: vw-clamp(15, 17);
  line-height: 1.88;
  font-weight: 700;
}

.text-book {
  font-size: vw-clamp(18, 18);
  line-height: 1.77;
  font-weight: 400;
}

.text-large {
  font-size: vw-clamp(23, 23);
  line-height: 150%;
  font-weight: 400;
}

@include breakpoint("sm") {
  // Headings

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    line-height: 120%;
  }

  h4,
  .h4,
  h5,
  .h5 {
    line-height: 130%;
  }

  h6,
  .h6 {
    line-height: 150%;
  }

  // Paragraph
  .text-normal {
    line-height: 180%;
  }
}

//

.font-bold {
  font-weight: 500;
}

.highlight {
  padding: 0.25rem;

  border-radius: 0.25rem;
  color: var(--color-white);
  background-color: #0b122f;
}

.accent {
  font-size: vw-clamp(15, 15);
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.text-grey-dark {
  color: var(--color-grey-dark);
}
.text-grey-normal {
  color: var(--color-grey-normal);
}

a {
  color: inherit;
  text-decoration: none;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}
